<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:insert="patterns.html::head">
    <link rel="stylesheet" type="text/css" href="../static/styles/homeStyle.css">
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<nav th:insert="~{patterns.html::nav}"></nav>
<div class="container -sm">
    <div class="card mt-5">
        <div class="card-body">
            <h4>About us</h4>
            <p>We are an independent company called Organizel. We help people to manage their time. Since 2020 we encourage people to manage their tasks and become more organized.</p>
        </div>
    </div>
</div>
</body>
</html>