<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:insert="patterns.html::head">
    <link rel="stylesheet" type="text/css" href="../static/styles/homeStyle.css">
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<nav th:insert="~{patterns.html::nav}"></nav>
<div class="container -sm">
    <h3>
    We are an independent company called Organizel. We help people to manage their time.
    </h3>
</div>
</body>
</html>