<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:insert="patterns.html::head">
    <link rel="stylesheet" type="text/css" href="../static/styles/homeStyle.css">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<nav th:insert="~{patterns.html::nav}"></nav>
<div class="container mt-5">
<h2>Welcome to ORGANIZEL!</h2>
</div>
<div th:insert="~{patterns.html::bootstrap}"></div>
</body>
</html>