<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link th:insert="patterns.html::head">
    <link href="../static/styles/signin.css" type="text/css" rel="stylesheet">
</head>
<body class="text-center">
<nav th:insert="~{patterns.html::nav}"></nav>
<div class="container mt-3">
<p class="warn mt-5" th:text="${message}" ></p>

<form action="/registration" th:action="@{/registration}" th:object="${user}" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <label class="sr-only"> User Name: </label>
    <input  type="text" th:field="*{username}" name="username" placeholder="User name" class="form-control" />
    <span class="validation-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>
    <label class="sr-only"> Password:</label>
    <input type="password" th:field="*{password}" id="inputPassword" name="password" placeholder="Password" class="form-control"/>
    <span class="validation-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
    <div class="mt-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </div>
</form>
    <a href="/login">Already have an account?</a>
</div>
<script th:insert="~{patterns.html::bootstrap}"></script>
</body>
</html>
