<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body class="text-center">
<nav th:insert="~{patterns.html::nav}"></nav>
<div class="form-group">
        <form method = "post" action="/tasks">
            <input class="form-control" type="text" name="task" placeholder="new task">
            <input class="form-control" type="date" name="date" placeholder="date">
            <button class="btn btn-primary" type="submit">Add task</button>
        </form>
    </div>
    <div>Your current tasks</div>
    <table>
        <thead>
        <tr>
            <th> Task </th>
            <th> Date </th>
            <th> User </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="task : ${tasks}">
            <td><span th:text="${task.task}"> Task </span></td>
            <td><span th:text="${task.date}"> Date </span></td>
            <td><span th:text="${task.authorName}">User</span></td>
            <td>
                <form  class="form-group" method="post" th:action="@{/tasks/remove}">
                    <input class="form-control"  type="hidden" name="task" th:value="${task.id}">
                <button class="btn btn-primary" type="submit">Remove</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

    <div>
        <form class="form-group" method="post" action="/tasks/find" >
            <input class="form-control" type="text" name="text" placeholder="search in tasks">
            <button class="btn btn-primary" type="submit">Find</button>
        </form>
    </div>
<script th:insert="~{patterns.html::bootstrap}"></script>
</body>
</html>