<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <div th:insert="patterns.html::head"></div>
</head>
<body class="text-center">
<nav th:insert="~{patterns.html::nav}"></nav>
<div class="container">
    <form class="form-inline mt-5 my-2 my-lg-0 " action="/tasks/find" method="post">
        <input class="form-control mr-sm-2" type="search" name="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div>Your current tasks</div>
    <table>
        <thead>
        <tr>
            <th> Task </th>
            <th> Date </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td><span th:text="${task.task}"> Task </span></td>
            <td><span th:text="${task.date}"> Date </span></td>
            <td>
                <form  class="form-group" method="post" th:action="@{/tasks/remove}">
                    <input class="form-control"  type="hidden" name="task" th:value="${task.id}"><button class="btn btn-primary" type="submit">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Button trigger modal -->
    <button type="button"  class="btn btn-primary btn-circle" data-toggle="modal" data-target="#exampleModal">ADD</button>
    <style>
        .btn-circle{
            display: flex;
            justify-content: flex-start;
            position: fixed;
            width: 38px!important;
            height: 38px!important;
            border-radius: 50%!important;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            font-size: 16px!important;
    }</style>
    <!-- Modal -->
    <div class="container">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <form method = "post" action="/tasks">
                    <div class="modal-body">
                        <input class="form-control" type="text" name="task" placeholder="new task">
                        <input class="form-control" type="date" name="date" placeholder="date">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add task</button>
                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{patterns.html::bootstrap}">
</div>
</body>
</html>