<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Role </th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td><span th:text="${user.username}"> User Name </span></td>
        <td><span th:each="role,iterStat : ${user.roles}" th:text="${!iterStat.last} ? ${role} + ',': ${role}"></span></td>
        <td><a th:href="@{|/user/${user.id}|}">edit</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>